In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Download the data from Ohio's COVID-19 website
df = pd.read_csv('https://coronavirus.ohio.gov/static/COVIDSummaryData.csv',low_memory=False)

In [3]:
# Remove the last row of totals
df = df.drop(df.index[df.shape[0]-1])

In [4]:
# Setup data types and make the data more usable
df["Case Count"]                         = pd.to_numeric(df["Case Count"])
df["Hospitalized Count"]                 = pd.to_numeric(df["Hospitalized Count"])
df["Death Due to Illness Count"]         = pd.to_numeric(df["Death Due to Illness Count"])
df["Onset Date"]                         = pd.to_datetime(df["Onset Date"])
df["Date Of Death"]                      = pd.to_datetime(df["Date Of Death"], errors='coerce')
df["Admission Date"]                     = pd.to_datetime(df["Admission Date"], errors='coerce')

df["County"]                             = df["County"].astype('category')
df["Sex"]                                = df["Sex"].astype('category')
df["Age Range"]                          = df["Age Range"].astype('category')

df["Date Of Death"]                      = df["Date Of Death"].fillna("2020-03-01")

In [5]:
df

,County,Sex,Age Range,Onset Date,Date Of Death,Admission Date,Case Count,Death Due to Illness Count,Hospitalized Count
0,Adams,Female,0-19,2020-04-28,2020-03-01,NaT,1,0,0
1,Adams,Female,0-19,2020-06-10,2020-03-01,NaT,1,0,0
2,Adams,Female,0-19,2020-06-19,2020-03-01,NaT,1,0,0
3,Adams,Female,0-19,2020-06-30,2020-03-01,NaT,1,0,0
4,Adams,Female,0-19,2020-07-18,2020-03-01,NaT,1,0,0
...,...,...,...,...,...,...,...,...,...
86870,Wyandot,Male,80+,2020-05-25,2020-03-01,NaT,1,0,0
86871,Wyandot,Male,80+,2020-05-25,2020-06-12 00:00:00,2020-06-02,1,1,1
86872,Wyandot,Male,80+,2020-07-22,2020-03-01,NaT,2,0,0
86873,Wyandot,Male,80+,2020-07-23,2020-08-11 00:00:00,NaT,1,1,0
86874,Wyandot,Male,80+,2020-08-11,2020-03-01,NaT,2,0,0